body{
    background-color: antiquewhite;
    margin: 0px;
}
.wrapper{
    height: 100vh;
}
nav{
    background-color: aliceblue;
    border: 1px solid darkslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-nav{
    list-style-type: none;
    font-size: 20px; 
    display: flex;
}
.right-nav{
    list-style-type: none;
    font-size: 20px;
    margin-right: 25px;
}
li{
    margin-right: 25px;
}
.dropdown-content{
    display: none;
}
.right-nav:hover .dropdown-content{
    display: block;
}

.dropdown-list{
    background-color: lightgoldenrodyellow;
    margin: 3px;
    border: 1px solid darkslategray;
}

.dropdown-list:hover {
    background-color: burlywood;
}

.box{
    height: 200px;
    width: 200px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.box-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.circle{
    height: 50px;
    width: 50px;
    font-size: 20px;
    background-color: burlywood;
    margin: 15px;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

#chatbox{
    width: 350px;
    height: 450px;
    margin-right: 35px;
    margin-bottom: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatbox-head{
    background-color: burlywood;
    color: aliceblue;
    height: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-msg-div{
    height: 50px;
    background-color: aliceblue;
    display: flex;
    align-items: end;
}

#user-message{
    height: 50px;
    width: 350px;
}
